
{% extends 'base1.html' %}

{% block content %}
{% load static %}
        <!-- banner -->
        <div class="banner-bg-inner">
            <!-- banner-text -->
            <div class="banner-text-inner">
                <div class="container">
                    <h2 class="title-inner">
                        world of reading
                    </h2>

                </div>
            </div>
            <!-- //banner-text -->
        </div>
        <!-- //banner -->
        <!-- breadcrumbs -->
        <div class="crumbs text-center">
            <div class="container">
                <div class="row">
                    <ul class="btn-group btn-breadcrumb bc-list">
                        <li class="btn btn1">
                            <a href="/">
                                <i class="glyphicon glyphicon-home"></i>
                            </a>
                        </li>
                        <li class="btn btn2">
                            <a href="/about">About us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//breadcrumbs ends here-->
        <!-- about -->
        <div class="about-sec section" id="about">
            <div class="container">
                <!-- about-left-grid -->
                <div class="col-md-7 about-left-grid">
                    <div class="inner-about2">
                        <h4>The Book Look</h4>
                        <p><b>Looking For Your Next Great Read?</b></p>
                        <h5>Books4U</h5>
                        <ul class="about-list">
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>Novels</li>
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>Comics</li>
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>Fiction</li>
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>Text Books</li>
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>Magzines</li>
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>Fantacy</li>
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>Horror</li>
                        </ul>
                        <!--<a href="#">view more</a>-->
                    </div>
                    <!-- about left bottom - services -->
                    <div class="principles-grids principles-grids1">
                        <div class="abt-btm agileits w3layouts aos-init aos-animate">
                            <div class="col-md-6 col-sm-6 agileits elite-services1 w3layouts bottom-gds" data-aos="fade-up">
                                <div class="bott-img agileits w3layouts">
                                    <div class="icon-holder agileits w3layouts">
                                        <span class="fa fa-book agileits w3layouts service-icon" aria-hidden="true"></span>
                                    </div>
                                    <h4 class="mission agileits w3layouts">Buy Books</h4>
                                    <div class="description agileits w3layouts">
                                        <a href="/shop">Gain Knowledge</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 agileits elite-services2 w3layouts bottom-gds" data-aos="fade-down">
                                <div class="bott-img bott-img1 agileits w3layouts">
                                    <div class="icon-holder agileits w3layouts">
                                        <span class="fa fa-book agileits w3layouts service-icon" aria-hidden="true"></span>
                                    </div>
                                    <h4 class="mission agileits w3layouts">Sell Books</h4>
                                    <div class="description agileits w3layouts">
                                        <a href="#">Earn Money!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- //about left bottom - services ends here -->
                </div>
                <!-- //about-left-grid ends here-->
                <!-- about-right-grid -->
                <div class="col-md-5 about-right-grid"></div>
                <!-- //about-right-grid ends here -->
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //about ends here -->
        <!-- about bottom -->
        <div class="about-bottom section">
            <div class="container-fluid">
                <h4 class="rad-txt">
                    <span class="abtxt1">wonderful</span>
                    <span class="abtext"> world of reading</span>
                </h4>
                <!-- about-bottom grid1 -->
                <div class="col-md-6 about-bottom-right">
                    <p class="abt-p"><b>Dear Friends!
                    Welcome to Second Hand Book Shop. We provide all types
                        of books such as school books, college books, novels,
                        comics, horror, fantacy etc. </b>
                    </p>
                    <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls">
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5>Horror</h5>
                                <p>World of horror book buffet! part of literary world </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5>magazines</h5>
                                <p>We store benificial magzines all time</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5>Fiction</h5>
                                <p>Imaginery and imaginations of book bundle</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5>Fantacy</h5>
                                <p>A magic system that spell your thought</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls service2">
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5>Text Books</h5>
                                <p>School as well as college text books collection</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5>Novels</h5>
                                <p>Best fiction narrative & intimate human experiences</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5>magazines</h5>
                                <p>Social media vibes and content are kept</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5>Comic Books</h5>
                                <p>Comic art in the form of sequence</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- //about-bottom grid1 ends here -->
                <div class="col-md-6 home-about2">
                <!-- about-bottom grid2 -->
                <div class="col-md-6 col-sm-6 col-xs-6 bg-right"></div>
                <div class="clearfix"></div>
            </div>
            <!-- //about container ends here-->
        </div>
        <div id="section_demo" class="section">
            <div class="container text-center">
                <h4 class="rad-txt">
                    <span class="abtxt1">the shop</span>
                    <span class="abtext">gallery</span>
                </h4>
                <div class="row">
                    <!-- Result 1 -->
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div id="slideshow_1_thumbs_1" class="col-lg-6 col-md-6">
                                <ul class="slideshow1_thumbs desoslide-thumbs-vertical list-inline text-center">
                                    <li>
                                            <img src="{% static 'book_store/shop1.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                    <h3>Our book store</h3>
                                    </li>
                                    <li>
                                            <img src="{% static 'book_store/shop2.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                    <h3>Second hand book shelf</h3>
                                    </li>
                                    <li>
                                            <img src="{% static 'book_store/shop5.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                    <h3>Comics & Novel book shelf</h3>
                                    </li>
                                    <li>
                                            <img src="{% static 'book_store/shop4.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                    <h3>Customers in our shop</h3>
                                    </li>
                                </ul>
                            </div>
                            <!--<div  class="col-lg-6 col-md-6">
                            <img src="{% static 'book_store/shopbig.jpg' %}" alt="shop_image"
                                  class="img-responsive" >
                            </div>-->
                            <div id="slideshow1" class="col-lg-6 col-md-6"></div>
                            <div id="slideshow_1_thumbs_2" class="col-lg-4 col-md-4">
                                <ul class="slideshow1_thumbs desoslide-thumbs-vertical list-inline">
                                    <li>
                                            <img src="{% static 'book_store/shop3.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                    <h3>Second hand book purchased</h3>
                                    </li>
                                    <li>
                                            <img src="{% static 'book_store/shop6.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                    <h3>Shop look</h3>
                                    </li>
                                    <li>
                                            <img src="{% static 'book_store/shop7.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                    <h3>Second hand book shop</h3>
                                    </li>
                                    <li>
                                            <img  src="{% static 'book_store/shop8.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                    <h3>Text Books & fantacy section</h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //gallery -->
        <!-- footer -->
        <div class="footer-bottom section">
            <div class="container">
                <!-- newsletter -->
                <div class="subscribe-main section-w3layouts text-center">
                    <h4 class="rad-txt">
                        <span class="abtxt1">keep yourself</span>
                        <span class="abtext">updated</span>
                    </h4>
                </div>
                <!-- //newsletter ends here -->
                <!-- footer grids-->
                <div class="footer-cpy">
                    <!-- footer-grid1 -->
                    <div class="col-md-3 col-sm-6 footer-logo">
                        <h3>
                            <a href="index.html">The Book Biz!!</a>
                        </h3>
                        <h4>about us</h4>
                        <p>E-commerce website for online buying and selling of second hand books.</p>
                    </div>
                    <!-- //footer-grid1 -->
                    <!-- footer-grid2 -->
                    <div class="col-md-3 col-sm-6 footer-nav text-center">
                        <h4>navigation</h4>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="about.html">About us</a>
                            </li>
                            <li>
                                <a href="shop.html">shop</a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- //footer-grid2 -->
                    
                    <!-- footer-grid4 -->
                    <div class="col-md-3 col-sm-6 contact-foot text-right">
                        <h4>contact us</h4>
                        <ul>
                            <li>
                                <span class="fa fa-home"></span>
                                Gandhi nagar Dharwad Karnataka
                                <br> India
                            </li>
                            <li>
                                <span class="fa fa-phone"></span>
                                9898767654
                            </li>
                            <li>
                                <span class="fa fa-envelope"></span>
                                thebookbiz@gmail.com
                            </li>
                        </ul>
                    </div>
                    <!-- //footer-grid4 -->
                    <div class="clearfix"></div>
                </div>
                <!-- //footer-grids -->
                <!-- footer social -->
                <div class="footer-social text-center">
                    <h4>stay connected</h4>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook icon_facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter icon_twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-dribbble icon_dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-google-plus icon_g_plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //footer social -->
            </div>
            <!-- //footer container -->
        </div>
        </div>
{% endblock %}