{% extends 'base1.html' %}
{% block content %}

		<!-- banner -->
		<div class="banner-bg-inner">
			<!-- banner-text -->
			<div class="banner-text-inner">
				<div class="container">
					<h2 class="title-inner">
						world of reading
					</h2>

				</div>
			</div>
			<!-- //banner-text -->
		</div>
		<!-- //banner -->
		<!-- breadcrumbs -->
		<div class="crumbs text-center" style="background-color:#C3FDB8" >
			<div class="container" >
				<div class="row" >
					<ul class="btn-group btn-breadcrumb bc-list">
						<li class="btn btn1">
							<a href="index.html">
								<i class="glyphicon glyphicon-home"></i>
							</a>
						</li>
						<li class="btn btn2">
							<a href="/shop">Product Catalogue</a>
						</li>
						<li class="btn btn3">
							<a href="/singleproduct">Single product</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--//breadcrumbs ends here-->
		<!-- Single -->
		{% for product in products %}
		<div class="innerf-pages section" style="background-color:#C3FDB8" >
			<div class="container">
				<div class="col-md-4 single-right-left " >
					<div class="grid images_3_of_2">
						<div class="flexslider1">
							<ul class="slides">
								<li data-thumb="{{product.image.url}}">
									<div class="thumb-image">
										<img width="300px"  src="{{product.image.url}}" data-imagezoom="true" alt=" " class="img-responsive"> </div>
								</li>

								<!--
								<li data-thumb="images/s2.jpg">
									<div class="thumb-image">
										<img src="#" data-imagezoom="true" alt=" " class="img-responsive"> </div>
								</li>
								<li data-thumb="images/s3.png">
									<div class="thumb-image">
										<img src="#" data-imagezoom="true" alt=" " class="img-responsive"> </div>
								</li>-->
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
				<div class="col-md-8 single-right-left simpleCart_shelfItem">
					<h3>{{product.title}}

					</h3>
					<p>by
						<a href="#">{{product.author}}</a>
					</p>
					<div class="caption">

						<ul class="rating-single">
							<li>
								<a href="#">
									<span class="fa fa-star yellow-star" aria-hidden="true"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-star yellow-star" aria-hidden="true"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-star yellow-star" aria-hidden="true"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-star yellow-star" aria-hidden="true"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-star yellow-star" aria-hidden="true"></span>
								</a>
							</li>
						</ul>
						<div class="clearfix"> </div>
						<h6>
							Rs.{{product.price}}</h6>
					</div>
					<div class="desc_single">
						<h5>Description</h5>
						<p>{{product.description}}</p>
					</div>
					<div class="occasional">
						<h5>Specifications</h5>
						<ul class="single_specific">
							<li>
								<span>ISBN :</span> {{product.ISBN}}</li>
							<li>
							<li>
								<span>language :</span> {{product.language}}</li>
							<li>
								<span>format :</span> {{product.format}}</li>
							<li>
								<span>publisher :</span> {{product.publisher}}</li>
							<li>
								<span>edition :</span> {{product.edition}}</li>
							<li>
								<span>pages :</span> {{product.pages}}</li>
						</ul>

					</div>
					<!--
					<div class="clearfix"></div>
					<div class="description">
						<h5>Check delivery, payment options and charges at your location</h5>
						<form action="#" method="post">
							<input type="text" value="Enter pincode" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter pincode';}"
							    required="">
							<input type="submit" value="Check">
						</form>
					</div>-->
					<div class="occasion-cart">
						<div class="chr single-item single_page_b">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="chr_item" value="Single book">
								<input type="hidden" name="amount" value="100.00">
								<button type="submit" class="chr-cart pchr-cart">
									<i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								<a href="#" data-toggle="modal" data-target="#myModal1"></a>
							</form>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		{% endfor %}


					<!-- //row3 -->
					<div class="clearfix"></div>
				</div>
				<!--//new_arrivals-->
				<div class="clearfix"></div>

			</div>
		</div>
		<!--// Single -->

		{% endblock %}