
{% extends 'base.html' %}

{% load static %}
{% load cart %}
<html lang="zxx">

{% block content %}
        <!-- //navbar ends here -->
        <!-- banner -->
        <div class="banner-bg-inner">
            <!-- banner-text -->
            <div class="banner-text-inner">
                <div class="container">
                    <h2 class="title-inner">
                        world of reading
                    </h2>

                </div>
            </div>
            <!-- //banner-text -->
        </div>
        <!-- //banner -->
        <!-- breadcrumbs -->
        <div class="crumbs text-center">
            <div class="container">
                <div class="row">
                    <ul class="btn-group btn-breadcrumb bc-list">
                        <li class="btn btn1">
                            <a href="{% url 'index' %}">
                                <i class="glyphicon glyphicon-home"></i>
                            </a>
                        </li>
                        <li class="btn btn2">
                            <a href="{% url 'shop' %}">Product Catalogue</a>
                        </li>

                        <li class="btn btn4">
                            <a href="{% url 'cart' %}">Checkout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//breadcrumbs ends here-->
        <!--checkout-->
        <div class="innerf-pages section">
            <div class="container">
                <div class="privacy about">
                    <h4 class="rad-txt">
                        <span class="abtxt1">Sell</span>
                        <span class="abtext">your books</span>
                    </h4>


                    <form  action="/sell" class="form-horizontal" method="POST">
                {% csrf_token %}
                <h3>Book Details:</h3>
                        <hr>
                <!-- firstname -->
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Book Name</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" class="form-control" name="name"
                                placeholder="Book Name" required="">
                    </div>
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Category</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" class="form-control" name="category"
                               placeholder="Category" required="">
                    </div>
                </div>
                <!-- phone -->
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Front Cover</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                    <input type="file" name="front_image"  class="form-control" required="">
                    </div>
                </div>
                <!-- email -->
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Index Page</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input  type="file" name="index_image" required=""
                        class="form-control" >
                    </div>
                </div>
                <!-- password -->
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Back Cover</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="file" name="back_image" required="" class="form-control">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Author</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="author"
                          required="" placeholder="Author"
                         class="form-control" >
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Book Edition</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="edition" required="" class="form-control" placeholder="Edition">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Book Description</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="description" required="" class="form-control" placeholder="Description" >
                    </div>
                </div>
                        <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Page count</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="page" required="" class="form-control" placeholder="Page" >
                    </div>
                </div>
                        <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Publisher</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="publisher" required="" class="form-control" placeholder="Publisher" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Cost</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="price" required="" class="form-control" placeholder="Cost">
                    </div>
                </div>

                        <h3>Personal Details:</h3>
                        <hr>
                        <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Phone Number</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="phone" required="" class="form-control" placeholder="Phone Number">
                    </div>
                </div>
                        <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Address</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="address" required="" class="form-control" placeholder="Address">
                    </div>
                </div>
                        <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">City</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="city" required="" class="form-control" placeholder="City">
                    </div>
                </div>
                        <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">State</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="state" required="" class="form-control" placeholder="State">
                    </div>
                </div>
                        <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Pin Code</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="pin" required="" class="form-control" placeholder="Pin Code">
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="signup-btn">
                        <div class="signup-btn" style="text-align:center;">
                            <input class="btn btn-info" type="submit" value="Request to Sell">
                        </div>
                    </div>
                </div>
            </form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Checkout Form</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-2 p-3">
            <form action="/checkout" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label >Address</label>
                    <input type="text" name="address" class="form-control" placeholder="Enter your address"
                    aria-describedby="helpId">

                </div>
                <div class="form-group">
                    <label >Phone</label>
                    <input type="text" name="phone" class="form-control" placeholder="Enter your address"
                    aria-describedby="helpId">

                </div>
                <div class="text-center">
                            <input type="submit" data-toggle="modal"  class=" center btn btn-success btn-lg" value="Checkout" > </input>

                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">


      </div>
    </div>
  </div>
</div>


                        <div class="clearfix"> </div>

                    </div>

                </div>

            </div>
        </div>
        <!--//checkout-->
        <div class="footer-bottom section">
            <div class="container">
                <!-- newsletter -->
                <!<div class="subscribe-main section-w3layouts text-center">
                    <h4 class="rad-txt">
                        <span class="abtxt1">keep yourself</span>
                        <span class="abtext">updated</span>
                    </h4>

                <!-- footer grids-->
                <div class="footer-cpy">
                    <!-- footer-grid1 -->
                    <div class="col-md-3 col-sm-6 footer-logo">
                        <h3>
                            <a href="index.html">Boomerang Books !</a>
                        </h3>
                        <h4>about us</h4>
                        <p>E-commerce website for online buying and selling of second hand books.</p>
                    </div>
                    <!-- //footer-grid1 -->
                    <!-- footer-grid2 -->
                    <div class="col-md-3 col-sm-6 footer-nav text-center">
                        <h4>navigation</h4>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="about.html">About us</a>
                            </li>
                            <li>
                                <a href="shop.html">shop</a>
                            </li>
                            <li>
                                <a href="contact.html">contact us</a>
                            </li>
                        </ul>
                    </div>

                    <!-- footer-grid4 -->
                    <div class="col-md-3 col-sm-6 contact-foot text-right">
                        <h4>contact us</h4>
                        <ul>
                            <li>
                                <span class="fa fa-home"></span>
                                Gandhi nagar Dharwad Karnataka
                                <br> India
                            </li>
                            <li>
                                <span class="fa fa-phone"></span>
                                9898767654
                            </li>
                            <li>
                                <span class="fa fa-envelope"></span>
                                <a href="mailto:info@example.com">boomerangbooks@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer-grid4 -->
                    <div class="clearfix"></div>
                </div>
                <!-- //footer-grids -->
                <!-- footer social -->
                <div class="footer-social text-center">
                    <h4>stay connected</h4>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook icon_facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter icon_twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-instagram icon_instagram"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-google-plus icon_g_plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //footer social -->
            </div>
            <!-- //footer container -->
        </div>
        <!-- //footer -->
        <div class="cpy-right">
            <p>Looking for great read? follow
                <a href="#">@boomerangbooks</a>
            </p>
        </div>
    </div>
    <!-- //home -->

    <!-- Common js -->
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <!--// Common js -->
    <!-- cart-js -->
    <script src="{% static 'js/minicart.js' %}"></script>
    <script>
        chr.render();

        chr.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->
    <!--quantity-->
    <script>
        $('.value-plus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) + 1;
            divUpd.text(newVal);
        });

        $('.value-minus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) - 1;
            if (newVal >= 1) divUpd.text(newVal);
        });
    </script>
    <!--quantity-->
    <!-- FadeOut-Script -->
    <script>
        $(document).ready(function (c) {
            $('.close1').on('click', function (c) {
                $('.rem1').fadeOut('slow', function (c) {
                    $('.rem1').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close2').on('click', function (c) {
                $('.rem2').fadeOut('slow', function (c) {
                    $('.rem2').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close3').on('click', function (c) {
                $('.rem3').fadeOut('slow', function (c) {
                    $('.rem3').remove();
                });
            });
        });
    </script>
    <!--// FadeOut-Script -->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!--search jQuery-->
    <script src="{% static 'js/main.js' %}"></script>
    <!--search jQuery-->

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <!-- //fixed-scroll-nav-js -->
    <!--//scripts-->
    <!-- start-smooth-scrolling -->
    <script src="{% static 'js/move-top.js' %}"></script>
    <script src="{% static 'js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{% static 'js/SmoothScroll.min.js' %}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
{% endblock %}
</html>